<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.g13.shotgun">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".driveboard.DriveBoard"
            android:label="@string/title_activity_drive_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".rideboard.RideBoard"
            android:label="@string/title_activity_ride_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Messenger"
            android:label="@string/title_activity_messenger"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserProfile"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".driveboard.CreateDriveBoardPostActivity"
            android:label="Create Post Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".signIn.SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".userpools.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".userpools.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".userpools.SignUpConfirmActivity"
            android:label="@string/title_activity_sign_up_confirm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".userpools.MFAActivity"
            android:label="@string/title_activity_mfa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".rideboard.CreateRideBoardPostActivity"
            android:label="@string/title_activity_create_ride_board_post"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".driveboard.ViewDriveBoardPost" />
        <activity
            android:name=".sendbird.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sendbird.SendBirdOpenChatActivity"
            android:configChanges="orientation|screenSize"
            android:label="SendBird"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".sendbird.SendBirdUserListActivity"
            android:configChanges="orientation|screenSize"
            android:label="SendBird"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".sendbird.SendBirdBlockedUserListActivity"
            android:configChanges="orientation|screenSize"
            android:label="SendBird"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".sendbird.SendBirdMemberListActivity"
            android:configChanges="orientation|screenSize"
            android:label="SendBird"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".sendbird.SendBirdParticipantListActivity"
            android:configChanges="orientation|screenSize"
            android:label="SendBird"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".sendbird.SendBirdOpenChannelListActivity"
            android:configChanges="orientation|screenSize"
            android:label="SendBird"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".sendbird.SendBirdGroupChatActivity"
            android:configChanges="orientation|screenSize"
            android:label="SendBird"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".sendbird.SendBirdGroupChannelListActivity"
            android:configChanges="orientation|screenSize"
            android:label="SendBird"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <service android:name=".sendbird.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".sendbird.fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".EditPostActivity"
            android:label="@string/title_activity_edit_post"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".rideboard.ViewRideBoardPost"
            android:label="@string/title_activity_view_ride_board_post"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewUserActivity"
            android:label="@string/title_activity_view_user"
            android:parentActivityName=".EditPostActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.g13.shotgun.EditPostActivity" />
        </activity>
    </application>

</manifest>


